<!DOCTYPE html>
<html>
    <head>
        <title>Generate Asset Tag</title>
    </head>
    <body>
        <h4>The next free asset tag is: {{.Current}}</h4>
        <button onclick="take()">Take</button>
        <script>
            function getCurrentPrefix() {
                let params = (new URL(document.location)).searchParams
                let prefix = params.get("prefix")
                if (prefix === undefined) {
                    fetch("/api/prefix")
                        .then((res) => res.json())
                        .then((data) => {prefix = data.prefixes[0]})
                }

                return prefix
            }

            function take() {
                fetch(`/api/tag?prefix=${getCurrentPrefix()}`, {method: "POST"}).then(() => {
                    location.reload()
                })
            }
        </script>
    </body>
</html>