<!-- 
SPDX-FileCopyrightText: 2023 Matthew Nickson <mnickson@sidingsmedia.com>
SPDX-License-Identifier: MIT
-->

{{template "base.html" .}}

{{define "title"}}
Generate asset tag
{{end}}

{{define "body"}}
    <article>
      <h1>Generate asset tag</h1>
      <div>
        <label for="prefix-select">Using prefix:</label>
        <select onchange="selectPrefix()" id="prefix-select">
          {{range .Prefixes}} {{if eq $.CurrentPrefix .}}
          <option value="{{.}}" selected="selected">{{.}}</option>
          {{else}}
          <option value="{{.}}">{{.}}</option>
          {{end}} {{end}}
        </select>
        <p>The next free asset tag is: <strong>{{.Current}}</strong></p>
        <button onclick="take()" id="assign-btn">Assign</button>
      </div>
    </article>

    <script>
      function getCurrentPrefix() {
        let params = new URL(document.location).searchParams;
        let prefix = params.get("prefix");
        if (prefix === undefined || prefix === null) {
          return fetch("/api/prefix")
            .then((res) => res.json())
            .then((data) => {
              return data.prefixes[0];
            });
        } else {
          return new Promise((res) => {
            res(prefix);
          });
        }
      }

      function selectPrefix() {
        let select = document.getElementById("prefix-select").value;
        location.href = `/?prefix=${select}`;
      }

      function take() {
        document.getElementById("assign-btn").innerHTML =
          '<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>';
        document.getElementById("assign-btn").classList = "button-clicked";
        getCurrentPrefix().then((prefix) => {
          fetch(`/api/tag?prefix=${prefix}`, {
            method: "POST",
          }).then(() => {
            location.reload();
          });
        });
      }
    </script>
{{end}}
