<!-- 
SPDX-FileCopyrightText: 2023 Matthew Nickson <mnickson@sidingsmedia.com>
SPDX-License-Identifier: MIT
-->

{{template "base.html" .}}

{{define "title"}}
Settings
{{end}}

{{define "body"}}
    <article>
      <h1>Add prefix</h1>
      <div>
        <div class="add-prefix">
          <input type="text" id="prefix-name" placeholder="Prefix" />
          <button onclick="add()" id="add-btn">Add</button>
        </div>

        <h3>Current prefixes:</h3>
        <ul>
          {{range .Prefixes}}
          <li><a href="/?prefix={{.}}">{{.}}</a></li>
          {{end}}
        </ul>
      </div>
    </article>

    <script>
      function add() {
        document.getElementById("add-btn").innerHTML =
          '<div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>';
        document.getElementById("add-btn").classList = "button-clicked";

        let prefix = document.getElementById("prefix-name").value;
        fetch(`/api/prefix?prefix=${prefix}`, {
          method: "POST",
        }).then((res) => {
          if (res.status == 500) {
            alert("Failed to add prefix. Possible duplicate?");
          } else {
            document.getElementById("prefix-name").value = "";
            location.reload();
          }
        });
      }
    </script>
{{end}}
